# R session and project files
.Rdata
.Rhistory
.gitattributes

# Project folders to ignore
manuscript/
presentations/

# Subproject folders to ignore
Rmd/Archive
data/Sequencing/Submission_and_Return_Sheets/
data/Sequencing/Porites_astreoides/Archive/
